{{#if client_heading}}
	<div class="client_heading"><h2 class="same_as_h1 brace_it">{{{client_heading}}}</h2></div>
{{/if}}

{{#if images}}
	<ul class="client_detail_images">
		{{#each images}}
			<li>
				<div class="image_corners ratio_19_12">
					<div>
						{{{markup}}}
					</div>
				</div>
			</li>
		{{/each}}
	</ul>
{{/if}}

{{#if link}}
	<div class="center_inside client_link"><a class="button" href="{{link.src}}">{{link.text}}<div class="left_glow"></div><div class="right_glow"></div></a></div>
{{/if}}

{{#if share_content}}
	<div class="client_share_buttons">{{{share_content}}}</div>
{{/if}}